<%- include('partials/header') %>

<div class="text-center">
  <h1 class="fw-bold">Selamat Datang, <%= user.username %></h1>
  <p class="lead mt-3">Silakan kelola data pada menu berikut:</p>

  <a href="/siswa" class="btn btn-primary btn-lg mt-3">
    Kelola Data Siswa
  </a>
</div>